.buttonWider{
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 0%;
    border: 3px solid black;
    width: 12vw;
}    
.button{
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 0%;
    border: 3px solid black;

}  
.buttonWider:hover,
.buttonWider:active {
    background-color: white; /* Set the background color when hovering */
    border-color: white; /* Set the border color when hovering */
    color: black; /* Set the text color when hovering */
}  
.button:hover,
.button:active {
    background-color: white; /* Set the background color when hovering */
    border-color: white; /* Set the border color when hovering */
    color: black; /* Set the text color when hovering */
}