.fixed-buttons-container {
    position: fixed;
    bottom: 20px; 
    display: flex;
    gap: 10px; 
    margin-left: 1%;
}

.view{
    padding: 10px;
    background-color: darkblue; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.metadata-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.metadata-content {
    text-align: center;
}

.close-button,
.edit-button {
    background-color: darkblue; 
    color: #fff; 
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.close-button {
    top: 10px;
    right: 10px;
}

.edit-button {
    bottom: 10px;
    right: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
  
.table th {
    background-color: #f2f2f2;
}