.navBar {
    height:50px;
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-columns: 40px 65px 75px 60px 850px 50px;
    border: 1px solid black;
}
.navButton{
    position: static;
    padding-top: 16px;
}
.nav-link
{
    color: black;
    text-decoration: none;
}