.parent {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.7fr;
  grid-template-rows: 0.4fr 0.2fr repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  }
  
  .headnotes {
    grid-area: 1 / 1 / 2 / 6; 
    background-color: yellow;
  }
  .views { 
    grid-area: 2 / 1 / 3 / 6; 
    background-color: red;
  }
  .processes { 
    grid-area: 3 / 1 / 6 / 2; 
    background-color: green;
  }
  .meta {
     grid-area: 3 / 5 / 6 / 6; 
     background-color: blue;
    }
  .processmap {
     grid-area: 3 / 2 / 6 / 5; 
     background-color: blueviolet;
    }