.parent {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.7fr;
  grid-template-rows: 0.4fr 0.2fr repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  overflow: hidden;
  }
  .views { 
    grid-area: 2 / 1 / 3 / 6; 
    background-color: light;
    height:40px;
  }
  .cut1 { 
    grid-area: 3 / 1 / 6 / 2; 
    height: 100vh;
  }
  .cut2 {
     grid-area: 3 / 5 / 6 / 6; 
     height: 100vh;
    }
  .cut3 {
     grid-area: 3 / 2 / 6 / 5; 
     height: 100vh;
    }


.parentInside{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  }
      
.processes {
   grid-area: 1 / 1 / 6 / 2;
   width: 24vh;
   border: 3px solid black;
   background-color: white;
}
.metaOld { 
  grid-area: 1 / 2 / 6 / 6;
  background-color: black;
 }
 .meta { 
  background-color: black;
  width: 100vw; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
}
.processMapMetaOpen { 
  width: 135vh;
  background-color: white;
  border: 3px solid black;
  overflow: hidden;
 }    
 .processMapMetaClosed { 
  grid-area: 1 / 2 / 6 / 6;
  background-color: white;
  border: 3px solid black;
  overflow: hidden;
 }  